ul{
    border-radius: 10px ;
    background-color: #3572EF;
    list-style-type: none;
    overflow: hidden;
    padding: 5px;
    margin: 0;
 }
 

li{
    float: right;
}

li a {
    text-decoration: none;
    color: azure;
    display: inline-block;
    text-align: center;
    padding: 12px;
    transition-duration: 1s;
    
 }

 li a:hover {
    color: rgb(0, 3, 3);
    background-color: #A7E6FF;
    border-radius: 5px;
 }

 .form-1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aquamarine;
    width: 12%;
    height:fit-content;
    padding: 10px;
    border-color: rgb(0, 174, 255);
    border-style: double;
    border-radius: 20px;
    
}

input{
    border-color: rgb(0, 174, 255);
    border-style: groove;
    border-radius: 5px;
}

